@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using QLHS.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Tab
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Table
@model QLHS.Web.Pages.Teachers.ViewModal
@inject IHtmlLocalizer<QLHSResource> L
@{
    Layout = null;
}
<form method="post" asp-page="/Teachers/ViewModal">
    <abp-modal>
        @*<abp-modal-header  title="Teacher Information"></abp-modal-header>*@
        <abp-modal-body>
            <abp-tabs name="view-teacher-modal-tabs">
                <abp-tab title=@L["Teacher Infomation"].Value class="mt-3">


                    <div class="card-body pt-0">
                        <table class="table table-bordered">
                            <tr>
                                <th width="30%">@L["Teacher Name"].Value</th>
                                <td>@Model.TeacherViewModel.Name</td>
                            </tr>
                            <tr>
                                <th width="30%">@L["Teacher Address"].Value</th>
                                <td>@Model.TeacherViewModel.Address</td>
                            </tr>
                            <tr>
                                <th width="30%">@L["Teacher DOB"].Value</th>
                                <td>@Model.TeacherViewModel.BirthDate</td>
                            </tr>
                            <tr>
                                <th width="30%">@L["Teacher ShortBio"].Value</th>
                                <td>@Model.TeacherViewModel.ShortBio</td>
                            </tr>
                        </table>
                    </div>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
    </abp-modal>
</form>